*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #0045FF;
    --primary-color-900: ;
    --gradient-color: ;
    --heading-color: #052478;
    --heading-dark: #0F165F;
    --text-color: #5f5f5f;
    --yellow-color: #ffce39;
    --white: #fff;
    --black: #000;
    --font-stack: 'cabin';
    --fs: 16px;
    --lh: 1.5;
    --fw: 400;
    --gutter-padding: 15px;
}
.justify-between{
    justify-content: space-between;
}
.align-item-center{
    align-items: center;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
/* header */
.top-bar{
    width: 100%;
    background-color: rgb(75, 71, 71);
    padding: 10px;
}
.site-detail ul, .social-icon ul{
    display: flex;
    list-style: none;
}
.site-detail ul li, .social-icon ul li{
    margin-right: 10px;
}
.site-detail ul li a, .social-icon ul li a{
    display: block;
    color: var(--white);
    font-size: 12px;
}
.site-detail ul li a i{
    margin-right: 5px;
}
a{
    text-decoration: none;
}
header{
    background-attachment: var(--black);
    background-color: #fff;
    box-shadow: 0px 12px 33px rgb(14 49 178 / 10%);
    margin-bottom: 1px;
    width: 100%;
}
body{
    background-color: var(--white);
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 811px;
    right: 0%;  
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'poppins';
    font-weight: 500; 
}
.back{
    display: block;
    width: 45px;
    height: 45px;
    background-image: linear-gradient(180deg, #03228F 0%, #0B70E1 100%);
    text-align: center;
    line-height: 45px;
    color: var(--white);
    border-radius: 50%;
    position: fixed;
    top: 92%;
    right:30px;
    z-index: 9;
}
.back i{
    padding: 11px 0px;
}
.w-1{
    width: 8.33%;
}
.w-2{
    width: 16.66%;
}
.w-3{
    width: 25%;
}
.w-4{
    width: 33.33%;
}
.w-5{
    width: 41.66%;
}
.w-6{
    width: 50%;
}
.w-7{
    width: 58.33%;
}
.w-8{
    width: 66.66%;
}
.w-9{
    width: 75%;
}
.w-10{
    width: 83.33%;
}
.w-11{
    width: 91.66%;
}
.w-12{
    width: 100%;
}
.w-1, .w-2, .w-3, .w-4, .w-5, .w-6, .w-7, .w-8, .w-9, .w-10, .w-11, .w-12{
    /* padding-left: var(--gutter-padding);
    padding-right: var(--gutter-padding); */
}
.items-center{
    align-items: center;
}
img{
    max-width: 100%;
    /* display: block; */
}
ul,ol{
    padding: 0;
}
.logo{
    padding-left: 20px;
    padding-right: 20px;
}
.logo img{
    max-width: 210px;
} 
nav{
    margin-left: auto;
}
nav>ul,.login-detail>ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav>ul>li>a{
    display: block;
    font-weight: 400;
    padding: 10px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    color: black;
    transition: all 0.5px;
}
.login-detail ul li{
    margin-right: 5px;     
    list-style:none;
    padding-left: 10px;
    color: #000;
}
.login-detail ul li a i{
    margin-right: 5px;     
    list-style:none;
    padding-left: 10px;
    color: #212d31;
}
nav ul li a i{
    font-weight: 900;
}
.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.social-icon{
    display: flex;
    justify-content: flex-end;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    max-width: 320px;
    min-width: 190px;
    max-height: 600px;
    background-color: #fff;
    padding: 10px;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
    transition: all 0.4s ease;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(157, 157, 157,0.9);  
}
.dropdown-menu li{
    margin: 10px;
    border-bottom: 1px solid rgb(170, 170, 170);
}
.dropdown-menu li:last-child{
    border-bottom:none;
}
.dropdown:hover .dropdown-menu{
    visibility: visible;
    opacity: 1;
    top:100%;
    left: 0;
    z-index: 999;
}
.dropdown-menu li a{
    color:#212d31;
}
.sub-drop{
    position:relative;
}
.sub-drop-menu{
    max-width: 500px;
    min-width: 280px;
    max-height: 380px;
    background-color: #fff;
    padding: 10px;
    opacity: 0;
    top:0;
    right: 110%;
    position: absolute;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px 0px rgba(157, 157, 157,0.9);  
}
.sub-drop:hover .sub-drop-menu{
    visibility: visible;
    opacity: 1;
}
.sub-drop-menu li{
    margin: 10px;  
}

.design-1{
    position: absolute;
    top: 70%;
    left: 0;
}
.hamburger{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
}
.hamburger a i{
    color: var(--black);
    font-size: 20px;
}
/* main */
.banner h2{
    font-family: 'Poppins';
    font-size: 22px;
    color: #212d31;
    margin-bottom: 20px;
    color: var(--heading-color);
}
.banner h1{
    font-family: 'Poppins';
    color: #212d31;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 600;
}
.banner p{
    font-size: 18px;
    color: #3d3a3a;
}
.banner{
    /* padding: 95px 0; */
    position: relative;
}
.banner-content p{
    font-size: 15px;
    color: #3f3f3f;
}
.banner-content-1{
    /* padding: 130px 0; */
    /* position: relative; */
}
/* .banner img{
    height: auto;
    max-width: 100%;
    padding-top: -18px;
    overflow: hidden;
    position: relative;
} */
.banner-right-img{
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
}
.btn{
    margin-top: 30px;
    display: inline-block;
    background-color: #ff4934;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-family: var(--font-stack);
    transition: 0.9s;
}
.btn-white{
        margin-top: 30px;
        margin-right: 5px;
        padding: 15px 45px;
        background-color: #fff;
        border-radius: 4px ;
        border: none;
        color: #fff;
        font-family: var(--font-stack);
        height: 50px;
        color: #000;
        text-align: center;
}
.btn  a{
    padding: 15px 30px;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    
}
.btn:hover{
    background-color:#0c32c0 ;
}
.box{
    width: 330px;
    height: 286px;
    border-bottom-width: 2px;
    border-bottom-color: #ff4834;
    border-bottom-style: solid;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 12px 33px rgb(14 49 178 / 10%);
    text-align: center;
}
.box img{
    margin: 0 auto;
    padding: 30px 0px;
}

.box h5{
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.box1 p{
    font-size: 15px;
}
.banner-content-2 h2,.brand h3{
    font-family: 'Poppins';
    font-size: 22px;
    color: #212d31;
    margin-bottom: 20px;
    color: var(--heading-color);
}
.banner-content-2 h1,.brand h5,.brand-content-5 h5{
    font-family: 'Poppins';
    color: #212d31;
    margin-top: -25px;
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 600;
    padding-top: 10px;
}

/* array of online marketing service-1*/
.array-content h3{
    font-size: 22px;
    color: var(--heading-color);
    font-weight: 600;
}
.array-content h4{
    font-size: 30px;
    padding-right: 17px;
}
.array-content h2{
    padding-top: 16px;
    position: relative;
}
.array-content p{
    padding-top: 15px;
    font-size: 15px;
}
.array-content ul li{
    align-items: center;
    display: flex; 
}
.digital-product{
    position: relative;
}
.digital-product .container{
    /* background-color: aqua; */
    border-radius: 10px;
    position: absolute;
    top: -80px;
    left: 100px;
    background-image: url(../image/home-17-digital.jpg);
}
/* Action To Brands */
.action-bg{
    /* background-image: url('../image/home-17-digital-back.png'); */
    background-color: #052478;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.text-center{
    text-align: center;
}
.title h1{
    font-size: 35px;
    font-weight: 700;
    color:var(--white); 
    margin-bottom: 30px;   
}
.title h2{
    color: #dd474b;;
}
.true-content{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}
.bb{
    border-bottom: 1px solid #455ea5;
    margin-top: 40px;
}
.true-content img,.seo-img img{
    margin-right: 20px;
}
.img-text h4{
    color: var(--white);
    font-size: 20px;
    padding: 5px 0px;
}
.img-text h3{
    color: var(--white);
    font-size: 18px;
    padding: 10px 0px;
}
.img-text p{
    color: var(--white);
    font-size: 14px;
    padding: 10px 0px;
}
.seo-img{
    display: flex;
    margin-top:55px;
}
.home-tag{
    font-size:30px;
    color: var(--white);
    /* position: absolute; */
    bottom: -80px;
    padding: 10px;
}
.cta{
    /* position: absolute; */
    bottom: -40px;
    right: 450px;
}
.mb{
    margin-bottom: 120px;
}
/* array of online marketing service-2*/
.array-content{
    margin-top: 290px;
}
.array-content-2 h3{
    font-size: 22px;
    color: var(--heading-color);
    font-weight: 600;
    padding-top: 40px;
}
.array-content-2 h2{
    font-size: 35px;
    color: #030712;
    line-height: 46px;
    text-align: left;
    padding-top: 20px;
}
.array-content-2 h2{
    padding-top: 16px;
    position: relative;
}
.array-content-2 p{
    padding-top: 25px;
    font-size: 15px;
}
.array-content-2 h4{
    line-height: 30px;
    font-size: 20px;
    text-align: left;
    color: #030712;
    padding-top: 20px;
}
.array-content-2 ul,li{
    padding-top: 10px;
    align-items: center;
    display: flex; 
}
.array-content-2 ul li h4{
    padding-top: 10px;
    align-items: center;
    display: flex; 
    font-size: 33px;
}
.array-content-2 ul li h5{
    padding-top: 10px;
    align-items: center;
    display: flex; 
    font-size: 18px;
    color: #3d3a3a;
}
.array-content-2 ul li img{
    padding-right: 10px;
    align-items: center;
    display: flex; 
    width: 70px;
}
.array-content-2 li{
    padding-right: 20px;
    align-items: center;
    display: flex; 
}
.array-content-2,.array-img-2{
    margin-top: 100px;
}

/* drive more sales site service-3 */
.array-content{
    margin-top: 15px;
}
.array-content .array-img{
    /* margin-top: -25px; */
}
/* team member */
.team-bg{
    background-image: url('../image/team-member-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.t-img{
    padding: 10px;
}
.t-img img{
    width: 100%;
}
.t-title h2{
    color: #dd474b;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.t-title h1{
    color:#030712;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
}
.t-info{
    color:var(--white);
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.t-info p{
    font-size: 14px;
    margin-top: 10px;
    color: #d9def1;
}
.t-info i{
    font-size: 14px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 80px;
}

.position-relative{
    position: relative
}
.bg-1{
    background-image: url('../image/home-17-contact.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    /* position: relative; */
}
.icon{
    right: 10%;
    top: -50%;
    width: 95px;
}
.icon img{
    width: 100%;
    display: inline-block;
}
.contact-detail{
    background-color: var(--white);
    box-shadow: 0px 2px 15px rgba(var(--heading-dark-rgb),0.1);
    padding: 30px;
    border-bottom-right-radius: 10px;
    border-left: 2px solid var(--primary-color);
}
.contact-info{
    margin-bottom: 20px;
}
.contact-info h6{
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--heading-dark);
}
.contact-info p{
    font-size: 14px;
    letter-spacing: 0.3px;
    font-weight: 500;
}
.form-control{
    display: inline-block;
    margin-bottom: 10px;
}
form{
    width: 500px;
}
input,textarea{
    width: 100%;
    padding: 10px 20px;
    font-weight: 600;
    background-color:#fff;
    border: none;
    outline: none;
    border-left: 2px solid rgba(var(--heading-dark-rgb),0.25);
    /* height: 40px; */
    /* margin-bottom: 20px; */
    border-radius: 5px;
    font-family: var(--font-stack);
}
textarea{
    /* appearance: none; */
    resize: none;
    height: 100px;
    width: 50%;
    /* padding: 15px !important; */
}
.msg{
    width: 100%;
}
.title h3{
    color: var(--white);
    font-size: 35px;
}
.contact-form .btn{
    outline: none;  
}
/* footer */
.footer-bg{
    background-color: #12266d;
}
.foot-logo h4{
    color: var(--white);
}
.title2 h4{
    font-size: 18px;
    color: var(--white);
}
.foot-logo p{
    margin-right: 10px;
    font-size: 15px;
    padding-top: 17px;
    color: var(--white);
}
.title2 p{
    margin-right: 10px;
    font-size: 15px;
    padding-top: 17px;
    color: var(--white);
}

/* .copyright */

.copyright{
    padding-top:35px;
    padding-bottom: 15px;

}
.copyright ul{
    display: flex;
    justify-content: end;
}
.copyright-menu ul{
    display: flex;
}
.copyright-menu ul li{
   margin-right: 15px;
   color: var(--white);
}
.para{
    color: var(--white);
}
.copyright-menu ul li a i{
    color: var(--white);
}